.card {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
    background-color: rgba(218, 218, 218, 0.3);
  }
  
  .title {
    color: grey;
    font-size: 24px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .card h1 {
    font-size: 60px;
  }

  .profile{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 80% 30%;
  }

  .infoField{
    margin: 8px;
  }

  .MButton{
    margin: 8px;
    width: 200px;
  }

  .myProfile{
    flex-grow: 1;
  }